/**
 * @vkieu/mui — Teal theme preset
 * Source: #006A6A
 * Usage: @import "@vkieu/mui/themes/theme-teal.css"; (after theme.css)
 */
:root {
  --primary: 180 100% 21%;
  --on-primary: 0 0% 100%;
  --primary-container: 179 75% 78%;
  --on-primary-container: 180 100% 6%;
  --secondary: 180 14% 34%;
  --on-secondary: 0 0% 100%;
  --secondary-container: 178 38% 85%;
  --on-secondary-container: 180 72% 7%;
  --tertiary: 214 25% 39%;
  --on-tertiary: 0 0% 100%;
  --tertiary-container: 217 91% 91%;
  --on-tertiary-container: 217 90% 15%;
  --error: 0 75% 42%;
  --on-error: 0 0% 100%;
  --error-container: 6 100% 92%;
  --on-error-container: 358 100% 13%;
  --surface: 171 47% 97%;
  --on-surface: 180 14% 10%;
  --surface-variant: 175 17% 88%;
  --on-surface-variant: 174 7% 27%;
  --outline: 180 4% 45%;
  --outline-variant: 175 9% 77%;
  --inverse-surface: 171 8% 18%;
  --inverse-on-surface: 170 19% 94%;
  --inverse-primary: 179 50% 67%;
  --surface-container-lowest: 0 0% 100%;
  --surface-container-low: 171 26% 95%;
  --surface-container: 171 18% 92%;
  --surface-container-high: 180 12% 90%;
  --surface-container-highest: 171 11% 88%;
  --surface-bright: 171 47% 97%;
  --surface-dim: 180 8% 85%;
}
.dark {
  --primary: 179 50% 67%;
  --on-primary: 180 100% 11%;
  --primary-container: 180 100% 15%;
  --on-primary-container: 179 75% 78%;
  --secondary: 178 22% 75%;
  --on-secondary: 178 33% 16%;
  --secondary-container: 180 20% 25%;
  --on-secondary-container: 178 38% 85%;
  --tertiary: 216 54% 81%;
  --on-tertiary: 213 46% 20%;
  --tertiary-container: 215 32% 29%;
  --on-tertiary-container: 217 91% 91%;
  --error: 6 100% 84%;
  --on-error: 357 100% 21%;
  --error-container: 356 100% 29%;
  --on-error-container: 6 100% 92%;
  --surface: 171 20% 7%;
  --on-surface: 171 11% 88%;
  --surface-variant: 174 7% 27%;
  --on-surface-variant: 175 9% 77%;
  --outline: 174 4% 56%;
  --outline-variant: 174 7% 27%;
  --inverse-surface: 171 11% 88%;
  --inverse-on-surface: 171 8% 18%;
  --inverse-primary: 180 100% 21%;
  --surface-container-lowest: 180 25% 5%;
  --surface-container-low: 180 14% 10%;
  --surface-container: 180 12% 12%;
  --surface-container-high: 180 8% 16%;
  --surface-container-highest: 180 6% 20%;
  --surface-bright: 171 6% 22%;
  --surface-dim: 171 20% 7%;
}
